/* styling for 120th Anniversary page template */
.page.page-template-page-120 {
    .page-content.page-120th {
        margin-top: 15px!important;
    }
    .page_footer {
        margin-top: 0px!important;
    }
}

.mdih-120th-nav .cws_widget_content {
  text-align: center;
  margin-bottom: 10px;
}

.MDIH-120th-footer {
  margin-top: 15px;
}
