/* gravity forms styling */
.gform_wrapper {
	form {
		.gform_title {
			font-size: 2em;
		}
	}
}
.gf_page_steps .gf_step_active {
	span.gf_step_label {
		border-bottom: 2px solid $clinicoAccent;
		font-size: larger;
	}
}
.gform_page_fields {
	h2.gsection_title {

	}
	h5 {
		margin: .5em 0;
	}
	hr {
		margin-bottom: 20px;
	}
}
.gform_page_footer {
	padding-right: 16px; // for some reason there is padding on last page (before)
	input[type=submit],
	.gform_button,
	.gform_previous_button,
	.gform_next_button { // make next & previous & Submit look like buttons on the site.
	    padding: 11px 21px;
	    border-width: 3px;
	    border-style: solid;
	    font-size: 14px;
	    line-height: 22px;
	    text-align: center;
	    text-transform: uppercase;
	    cursor: pointer;

	}.gform_previous_button, // next & previous buttons differenct color.
	.gform_next_button {
		color: #fff;
		padding: 8px 16px;
		background-color: $mdiAccentGreen; // med green in logo
	    border-color: $mdiDarkBlue;
	}

	.gform_next_button { // just the next button
		float: right;
	}

	.gform_previous_button:hover,
	.gform_next_button:hover {
		color: $mdiAccentGreen;
		background-color: #fff;
	}
	.gform_button:hover {
		color: $mdiDarkBlue;
	}
}
div#gform_confirmation_message_3 {
	font-size: 1.2em;
}

label {
	font-size: 1em !important;
}
// bill pay form
.mdih-gf-billpay { // form
	.gform_body {
		li.gfield {
			label.gfield_label {
				text-align: right;
				padding-top: 6px;
				margin-bottom: 0px;
			}
		}
	}
	.gform_footer {
		text-align: right;
	}
}
