/* ---------- WP-Jobs Styling ---------------------------------------------- */
// both list & singles
.page-content main div.job_listings,
.page-content main div.single_job_listing {
	
	ul.job_types, ul.job_listings, .job_description ul, ul.chosen-results {
		li:before  {
			content: "";
			margin: 0px;
			width: 0px;
		}

	}
} 
// lists of jobs
.page-content main div.job_listings {
	ul.jobs_listings {
		border-top: 1px solid $mdiDarkBlue;
	}

}
.page-content main div.single_job_listing .job_description {
	ul li {
		list-style-type: disc;
		list-style-position: inside;
	}
}
/* ---------- End WP-Jobs styling ------------------------------------------ */
