/* ---------- Media Styling ---------------------------------------------- */
/* clinico breaks // layout
@media screen and (max-width: 1190px
@media screen and (max-width: 980px)
@media screen and (max-width: 767px)
*/
@media screen and (max-width: 767px) { // mobile styling....
	.news.blog-post { // featured image full width.
		.item .wrapper {
			width: 100%; 
		}
	}


}
@media screen and (min-width: 768px) { // desktop styling
	.home .toggle_sidebar .switcher {
		font-size: 14px;
		padding-bottom: 10px;
		background-color: $mdiDarkBlue;

	}
	.home .toggle_sidebar .switcher:after {
		border-top-color: $mdiDarkBlue;
		-moz-border-top-colors: $mdiDarkBlue;
	}

}
/* ---------- End Media styling ------------------------------------------ */
